.navContainer {
    background: rgba(0, 0, 0, 0.3);
}
.header{
    position: sticky;
    z-index: 111;
    backdrop-filter: saturate(180%) blur(20px);
    top: 0;
}
.nav {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 60px;
}

.menuPanel img {
    width: 40px;
    height: 40px;
}

.menuPanel {
    display: flex;
    align-items: center;
}

.menuPanel select {
    width: 72px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    border: 0px;
}
.menuPanel select:hover{
    color: #535353;
}

.menuPanel select option {
    background-color: #535353;
}

.menuPanel select:focus-visible {
    outline: none;
}

.navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    margin-right: 49.5px;
    cursor: pointer;
}

.navLogo img {
    width: 125px;
    height: 62px;
    cursor: pointer;
}

.navLogo div {
    margin-left: 150px;
}

.navMenu i,
.searchPanel i {
    color: #FFFFFF;
    cursor: pointer;
}

.searchPanel {
    display: flex;
    align-items: center;
}
.searchPanelBtn:hover{
    background: #535353;
    transition: all .3s ease;
}
.searchPanelBtn:hover{
        background: #535353;
        transition: all .3s ease;
}
.searchIcon, .savedIcon{
    margin-right: 30px;
    font-size: 1.7rem;
    color: #FFFFFF;
    cursor: pointer;
}
.searchIcon:hover, .savedIcon:hover{
    color: #535353;
}
.languages select{
    cursor: pointer;
}

@media (max-width: 992px) {
    .searchIcon, .savedIcon {
        font-size: 1.5rem !important;
    }
    .savedIcon {
        margin-right: 0px;
    }
    .header h1 {
        font-size: 35px;
        margin: 50px auto 20px auto;
        line-height: 40px;
        max-width: 60%;
    }

    .header p {
        font-size: 20px;
        line-height: 25px;
        max-width: 50%;
    }

    .searchPanel button {
     display: none;
    }

    .navLogo img {
        width: 80px;
        height: 40px;
    }
}
@media (max-width: 768px) {
    .navLogo div {
        margin-left: 0px;
    }

    .searchPanel button {
        display: none;
    }

    .navMenu {
        margin-right: 30px;
    }

    .header h1 {
        font-size: 35px;
        margin: 150px auto 20px auto;
        line-height: 40px;
        max-width: 90%;
    }

    .header p {
        font-size: 20px;
        line-height: 25px;
        max-width: 80%;
    }

    .header .bannerBtn {
        width: 202px;
        height: 40px;
        font-size: 18px;
        margin: 36px auto 46px auto;
    }
}

@media (max-width: 576px) {
    .languages {
        display: none;
    }
    .header h1 {
        font-size: 20px;
        margin: 50px auto 20px auto;
        line-height: 30px;
        max-width: 90%;
    }

    .header p {
        font-size: 12px;
        line-height: 15px;
        max-width: 80%;
    }

    .header .bannerBtn {
        width: 150px;
        height: 30px;
        font-size: 12px;
        margin: 36px auto 46px auto;
    }
}

