* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.btn {
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #c8c8c8;
    letter-spacing: 0.01em;
    border: none;
    border-radius: 5px;
}

.searchPanelBtn:hover {
    background: #535353;
    transition: all .3s ease;
}

@media (max-width: 576px) {
    .h30 {
        font-size: 20px;
        line-height: 20px;
    }

    .p20 {
        font-size: 15px;
        line-height: 20px;
        text-align: justify;
    }

    .doorSliderTitle {
        margin: 20px auto 10px auto;
    }

}

